:root {
    --primary-color: hsl(200, 100%, 50%);

    --placeholder-color: hsl(0, 0%, 50%);

    --theme-100: hsl(0, 0%, 15%);
    --theme-200: hsl(0, 0%, 20%);
    --theme-300: hsl(0, 0%, 25%);
    --theme-400: hsl(0, 0%, 30%);
}