@use "./variables" as *;
@use "./utilities" as *;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    height: 100%;
}

body {
    background-color: var(--theme-100);
    padding: 2rem;
}

#root {
    display: grid;
    grid-template-rows: min-content auto min-content;
    height: 100%;
}

.title {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 3rem;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    .computer-says-text {
        color: hsl(0, 0%, 70%);
        font-size: 1.75rem;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 50px;
    }

    .answer-text {
        color: white;
        font-size: 4rem;
        font-weight: 500;
    }
}

.footer {
    display: flex;
    justify-content: center;

    .container {
        display: flex;
        gap: 5rem;
    }

    .question-input {
        width: 100%;
        font-size: 2rem;
        background-color: var(--theme-200);
        color: white;
        text-align: center;
        font-weight: 500;
        border-radius: 10000px;
        outline: none;
        border: none;

        &::placeholder {
            color: var(--placeholder-color);
            font-weight: bold;
        }
    }

    .ask-button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--theme-200);
        color: white;
        font-size: 2.5rem;
        border-radius: 10000px;
        padding: 0.5em;
        aspect-ratio: 1 / 1;
        transition: 
            background-color 200ms,
            color 200ms;

        svg {
            font-size: inherit;
        }

        &:hover {
            background-color: var(--theme-300);
        }
    }
}

@media (max-width: 1300px) {
    .container {
        max-width: 100%;
    }
}

@media (max-width: 900px) {
    .title {
        font-size: 2.5rem;
    }

    .computer-says-text {
        font-size: 1.25rem !important;
    }

    .answer-text {
        font-size: 3rem !important;
    }

    .question-input {
        font-size: 1.75rem !important;
    }
}

@media (max-width: 550px) {
    body {
        padding: 1rem;
    }

    .title {
        font-size: 2rem;
    }

    .answer-text {
        font-size: 2.5rem !important;
    }

    .question-input {
        font-size: 1.35rem !important;
    }

    .ask-button {
        font-size: 2.25rem;
    }
}